In [2]:
import time
import random
from math import *
import operator
import pandas as pd
import numpy as np
import datetime 
import calendar
import matplotlib.pyplot as plt

In [3]:
# Importing File

location = r"file:///C:\Users\nikhil\Downloads\police_department_data%20(1).csv"

In [4]:
df_police=pd.read_csv(location)

In [5]:
# Checking Imported File

df_police.head()

,incident_id,category,crime_description,crime_date,department_district,resolution,address,department_id,location
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,12005827212120,"(37.775420706711, -122.403404791479)"
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,12005827212168,"(37.775420706711, -122.403404791479)"
2,141059263,WARRANTS,WARRANT ARREST,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,14105926363010,"(37.7299809672996, -122.388856204292)"
3,160013662,NON-CRIMINAL,LOST PROPERTY,2016-01-05 23:50:00,TENDERLOIN,NONE,JONES ST / OFARRELL ST,16001366271000,"(37.7857883766888, -122.412970537591)"
4,160002740,NON-CRIMINAL,LOST PROPERTY,2016-01-01 00:30:00,MISSION,NONE,16TH ST / MISSION ST,16000274071000,"(37.7650501214668, -122.419671780296)"

In [6]:
# Droping column Not Necessary for study

df2=df_police.drop(['incident_id','crime_description','address','department_id','location'

],axis=1)

In [7]:
df2.head()

       category           crime_date department_district      resolution
0   WEAPON LAWS  2016-01-29 11:00:00            SOUTHERN  ARREST, BOOKED
1   WEAPON LAWS  2016-01-29 11:00:00            SOUTHERN  ARREST, BOOKED
2      WARRANTS  2016-04-25 14:59:00             BAYVIEW  ARREST, BOOKED
3  NON-CRIMINAL  2016-01-05 23:50:00          TENDERLOIN            NONE
4  NON-CRIMINAL  2016-01-01 00:30:00             MISSION            NONE

In [8]:
df3=df2

In [9]:
# Getting Month from crime date

df3['month'] = pd.DatetimeIndex(df3['crime_date']).month

In [10]:
month1={1:"Jan" ,2:"Feb" ,3:"Mar" ,4:"April" ,5:"May" ,6:"June" ,7:"July" ,8:"Aug" ,9:"Sep"
       ,10:"Oct" ,11:"Nov" ,12:"Dec"}

In [11]:
df3['month']=[month1[items] for items in df3['month']]

In [12]:
df3['month'].head()

0      Jan
1      Jan
2    April
3      Jan
4      Jan
Name: month, dtype: object

In [13]:
df3['Day'] = pd.DatetimeIndex(df3['crime_date']).day

In [14]:
df3['crime_date'] = pd.to_datetime(df3['crime_date'])

In [15]:
# Getting day of week(sun, mon, tue)

df3['day_of_week'] = df3['crime_date'].dt.day_name()

In [16]:
df3.day_of_week.unique()

array(['Friday', 'Monday', 'Tuesday', 'Saturday', 'Thursday', 'Sunday',
       'Wednesday'], dtype=object)

In [17]:
(df3['day_of_week'].value_counts()/df3['day_of_week'].count())*100

Friday       15.528904
Saturday     14.732226
Thursday     14.215947
Wednesday    14.174086
Tuesday      14.114286
Monday       13.809302
Sunday       13.425249
Name: day_of_week, dtype: float64

In [19]:
# Getting hour of day (1, 2, 3)

df3['hour'] = df3['crime_date'].dt.hour

In [20]:
df3.hour.unique()

array([11, 14, 23,  0, 21,  1, 12, 10, 22, 13,  7, 16, 17,  4,  6,  9, 15,
       19, 20,  5,  2,  8, 18,  3], dtype=int64)

In [21]:
(df3['hour'].value_counts()/df3['hour'].count())*100

18    6.457143
17    6.351495
12    5.994020
19    5.967442
16    5.751495
15    5.534219
20    5.380731
14    5.063787
21    4.970100
13    4.829236
22    4.716944
0     4.611960
11    4.508970
23    4.367442
10    4.307641
9     3.897010
8     3.704319
1     2.896346
7     2.587375
2     2.321595
3     1.696346
6     1.673090
4     1.252492
5     1.158804
Name: hour, dtype: float64

In [22]:
df33=df3.drop(df3[df3.hour.isin(["9","8","1","2","7","3","6","4","5"
])].index)

In [23]:
df33.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
0,WEAPON LAWS,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",Jan,29,Friday,11
1,WEAPON LAWS,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",Jan,29,Friday,11
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,14
3,NON-CRIMINAL,2016-01-05 23:50:00,TENDERLOIN,NONE,Jan,5,Tuesday,23
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,NONE,Jan,1,Friday,0

In [24]:
df33.category.unique()

array(['WEAPON LAWS', 'WARRANTS', 'NON-CRIMINAL', 'ASSAULT',
       'OTHER OFFENSES', 'MISSING PERSON', 'LARCENY/THEFT',
       'STOLEN PROPERTY', 'ROBBERY', 'FRAUD', 'BURGLARY', 'VEHICLE THEFT',
       'RECOVERED VEHICLE', 'VANDALISM', 'ARSON', 'DRUG/NARCOTIC',
       'PROSTITUTION', 'SECONDARY CODES', 'SUSPICIOUS OCC', 'TRESPASS',
       'DRUNKENNESS', 'SEX OFFENSES, NON FORCIBLE',
       'SEX OFFENSES, FORCIBLE', 'RUNAWAY', 'DRIVING UNDER THE INFLUENCE',
       'FORGERY/COUNTERFEITING', 'DISORDERLY CONDUCT', 'BRIBERY',
       'FAMILY OFFENSES', 'GAMBLING', 'KIDNAPPING', 'EMBEZZLEMENT',
       'SUICIDE', 'EXTORTION', 'LIQUOR LAWS', 'LOITERING', 'BAD CHECKS',
       'PORNOGRAPHY/OBSCENE MAT', 'TREA'], dtype=object)

In [25]:
(df33['category'].value_counts()/df33['category'].count())*100

LARCENY/THEFT                  28.929375
OTHER OFFENSES                 12.905837
NON-CRIMINAL                   11.865478
ASSAULT                         8.642392
VANDALISM                       5.558413
VEHICLE THEFT                   4.402553
WARRANTS                        3.862140
SUSPICIOUS OCC                  3.707014
BURGLARY                        3.443973
DRUG/NARCOTIC                   2.766139
MISSING PERSON                  2.754336
ROBBERY                         2.041935
FRAUD                           1.857301
SECONDARY CODES                 1.188740
WEAPON LAWS                     1.106118
TRESPASS                        0.886918
STOLEN PROPERTY                 0.564862
SEX OFFENSES, FORCIBLE          0.558118
PROSTITUTION                    0.510062
FORGERY/COUNTERFEITING          0.435871
RECOVERED VEHICLE               0.435028
DRUNKENNESS                     0.284960
DRIVING UNDER THE INFLUENCE     0.228474
DISORDERLY CONDUCT              0.195594
KIDNAPPING                      0.157656
ARSON                           0.123089
EMBEZZLEMENT                    0.121403
LIQUOR LAWS                     0.110443
RUNAWAY                         0.087680
EXTORTION                       0.044683
BRIBERY                         0.042154
SUICIDE                         0.042154
FAMILY OFFENSES                 0.041311
SEX OFFENSES, NON FORCIBLE      0.028665
BAD CHECKS                      0.025292
LOITERING                       0.022763
GAMBLING                        0.016862
PORNOGRAPHY/OBSCENE MAT         0.003372
TREA                            0.000843
Name: category, dtype: float64

In [26]:
# Dropping less frequency variable from category

df4=df33.drop(df33[df33.category.isin(["SEX OFFENSES, FORCIBLE","STOLEN PROPERTY","RECOVERED VEHICLE","DISORDERLY CONDUCT",
                                    "PROSTITUTION","FORGERY/COUNTERFEITING","DRUNKENNESS","DRIVING UNDER THE INFLUENCE","ARSON","KIDNAPPING","EMBEZZLEMENT",
          "LIQUOR LAWS","RUNAWAY","SUICIDE","BRIBERY","EXTORTION","FAMILY OFFENSE","LOITERING","SEX OFFENSES, NON FORCIBLE",
          "BAD CHECKS","GAMBLING","PORNOGRAPHY/OBSCENE MAT","TREA","MISSING PERSON","DRUG/NARCOTIC","ROBBERY","FRAUD",
        "SECONDARY CODES","TRESPASS","FAMILY OFFENSES","WEAPON LAWS"
                                   ])].index)

In [27]:
df4.category.unique()

array(['WARRANTS', 'NON-CRIMINAL', 'ASSAULT', 'OTHER OFFENSES',
       'LARCENY/THEFT', 'BURGLARY', 'VEHICLE THEFT', 'VANDALISM',
       'SUSPICIOUS OCC'], dtype=object)

In [28]:
(df4['category'].value_counts()/df4['category'].count())*100

LARCENY/THEFT     34.721983
OTHER OFFENSES    15.490008
NON-CRIMINAL      14.241336
ASSAULT           10.372881
VANDALISM          6.671389
VEHICLE THEFT      5.284088
WARRANTS           4.635467
SUSPICIOUS OCC     4.449279
BURGLARY           4.133569
Name: category, dtype: float64

In [29]:
df4.resolution.unique()

array(['ARREST, BOOKED', 'NONE', 'JUVENILE BOOKED', 'UNFOUNDED',
       'ARREST, CITED', 'CLEARED-CONTACT JUVENILE FOR MORE INFO',
       'EXCEPTIONAL CLEARANCE', 'COMPLAINANT REFUSES TO PROSECUTE',
       'LOCATED', 'NOT PROSECUTED', 'PSYCHOPATHIC CASE', 'JUVENILE CITED'],
      dtype=object)

In [30]:
(df4['resolution'].value_counts()/df4['resolution'].count())*100

NONE                                      75.842145
ARREST, BOOKED                            22.300025
UNFOUNDED                                  0.994688
JUVENILE BOOKED                            0.522135
EXCEPTIONAL CLEARANCE                      0.205414
ARREST, CITED                              0.098153
CLEARED-CONTACT JUVENILE FOR MORE INFO     0.016190
NOT PROSECUTED                             0.007083
PSYCHOPATHIC CASE                          0.007083
JUVENILE CITED                             0.003036
COMPLAINANT REFUSES TO PROSECUTE           0.002024
LOCATED                                    0.002024
Name: resolution, dtype: float64

In [31]:
# Dropping less frequency variable from resolution

df5=df4.drop(df4[df4.resolution.isin(["CLEARED-CONTACT JUVENILE FOR MORE INFO","NOT PROSECUTED","LOCATED",
                                      "PSYCHOPATHIC CASE","JUVENILE CITED","COMPLAINANT REFUSES TO PROSECUTE",
                                      "JUVENILE DIVERTED","PROSECUTED BY OUTSIDE AGENCY","UNFOUNDED","JUVENILE BOOKED",
                                      "EXCEPTIONAL CLEARANCE","ARREST, CITED","CLEARED-CONTACT JUVENILE FOR MORE INFO",
                                    "NOT PROSECUTED","LOCATED","PSYCHOPATHIC CASE","JUVENILE CITED",
                                      "COMPLAINANT REFUSES TO PROSECUTE","JUVENILE DIVERTED","PROSECUTED BY OUTSIDE AGENCY"
])].index)

In [32]:
df5.resolution.unique()

array(['ARREST, BOOKED', 'NONE'], dtype=object)

In [33]:
(df5['resolution'].value_counts()/df5['resolution'].count())*100

NONE              77.277836
ARREST, BOOKED    22.722164
Name: resolution, dtype: float64

In [34]:
df5.department_district.unique()

array(['BAYVIEW', 'TENDERLOIN', 'MISSION', 'NORTHERN', 'SOUTHERN',
       'TARAVAL', 'INGLESIDE', 'CENTRAL', 'PARK', 'RICHMOND', nan],
      dtype=object)

In [35]:
(df5['department_district'].value_counts()/df5['department_district'].count())*100

SOUTHERN      19.158040
NORTHERN      13.681074
CENTRAL       12.707758
MISSION       12.023137
BAYVIEW        9.201138
TARAVAL        7.521549
INGLESIDE      7.485462
RICHMOND       6.539984
TENDERLOIN     5.955376
PARK           5.726482
Name: department_district, dtype: float64

In [36]:
df6=df5.drop(df5[df5.department_district.isin(["TENDERLOIN",'RICHMOND', 'PARK'
])].index)

In [37]:
df6.department_district.unique()

array(['BAYVIEW', 'MISSION', 'NORTHERN', 'SOUTHERN', 'TARAVAL',
       'INGLESIDE', 'CENTRAL', nan], dtype=object)

In [38]:
(df6['department_district'].value_counts()/df6['department_district'].count())*100

SOUTHERN     23.426842
NORTHERN     16.729496
CENTRAL      15.539305
MISSION      14.702137
BAYVIEW      11.251340
TARAVAL       9.197504
INGLESIDE     9.153376
Name: department_district, dtype: float64

In [39]:
df6.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,14
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,NONE,Jan,1,Friday,0
5,ASSAULT,2016-01-01 21:35:00,NORTHERN,NONE,Jan,1,Friday,21
6,OTHER OFFENSES,2016-01-02 00:04:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,0
8,WARRANTS,2016-01-02 12:21:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,12

In [40]:
df7=df6.dropna()

In [41]:
df7.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,14
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,NONE,Jan,1,Friday,0
5,ASSAULT,2016-01-01 21:35:00,NORTHERN,NONE,Jan,1,Friday,21
6,OTHER OFFENSES,2016-01-02 00:04:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,0
8,WARRANTS,2016-01-02 12:21:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,12

# Variable conversion to binary

In [44]:
# For day_of_week
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(df7["day_of_week"])
dfw=pd.DataFrame(lb_results, columns=lb_style.classes_)
dfw.head()

   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0       1         0       0         0        0          0
1       1       0         0       0         0        0          0
2       1       0         0       0         0        0          0
3       0       0         1       0         0        0          0
4       0       0         1       0         0        0          0

In [45]:
# For category

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(df7["category"])
ctg=pd.DataFrame(lb_results, columns=lb_style.classes_)
ctg.head()

,ASSAULT,BURGLARY,LARCENY/THEFT,NON-CRIMINAL,OTHER OFFENSES,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS
0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,1

In [46]:
# For month
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(df7["month"])
mth=pd.DataFrame(lb_results, columns=lb_style.classes_)
mth.head()

   April  Aug  Dec  Feb  Jan  July  June  Mar  May  Nov  Oct  Sep
0      1    0    0    0    0     0     0    0    0    0    0    0
1      0    0    0    0    1     0     0    0    0    0    0    0
2      0    0    0    0    1     0     0    0    0    0    0    0
3      0    0    0    0    1     0     0    0    0    0    0    0
4      0    0    0    0    1     0     0    0    0    0    0    0

In [47]:
# For department_district
from sklearn.preprocessing import LabelBinarizer

lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(df7["department_district"])
dd=pd.DataFrame(lb_results, columns=lb_style.classes_)
dd.head()

   BAYVIEW  CENTRAL  INGLESIDE  MISSION  NORTHERN  SOUTHERN  TARAVAL
0        1        0          0        0         0         0        0
1        0        0          0        1         0         0        0
2        0        0          0        0         1         0        0
3        0        0          0        0         0         1        0
4        0        0          0        0         0         1        0

In [48]:
hr_gp={0:'0-3' ,1:'0-3' ,2:'0-3' ,3:'0-3' ,4:'4-7' ,5:'4-7' ,6:'4-7' ,7:'4-7' ,8:'8-11' ,9:'8-11' ,
10:'8-11' ,11:'8-11' ,12:'12-15' ,13:'12-15',14:'12-15',15:'12-15',16:'16-19',17:'16-19',18:'16-19',
      19:'16-19',20:'20-23',21:'20-23',22:'20-23',23:'20-23'}

In [49]:
df7.hour=[hr_gp[items] for items in df7.hour]

C:\Users\nikhil\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [50]:
df7.hour.unique()

array(['12-15', '0-3', '20-23', '16-19', '8-11'], dtype=object)

In [51]:
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(df7["hour"])
hrr=pd.DataFrame(lb_results, columns=lb_style.classes_)
hrr.head()

   0-3  12-15  16-19  20-23  8-11
0    0      1      0      0     0
1    1      0      0      0     0
2    0      0      0      1     0
3    1      0      0      0     0
4    0      1      0      0     0

In [52]:
df8=df7

In [53]:
df8.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,12-15
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,NONE,Jan,1,Friday,0-3
5,ASSAULT,2016-01-01 21:35:00,NORTHERN,NONE,Jan,1,Friday,20-23
6,OTHER OFFENSES,2016-01-02 00:04:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,0-3
8,WARRANTS,2016-01-02 12:21:00,SOUTHERN,"ARREST, BOOKED",Jan,2,Saturday,12-15

In [55]:
# For resolution taking variable criminal get arrested
df8['res_arrest']=df7["resolution"]
#df12['res_none']=df12['resolution']

C:\Users\nikhil\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [56]:
df8["resolution"].unique()

array(['ARREST, BOOKED', 'NONE'], dtype=object)

In [57]:
a_b={"NONE":0 ,"ARREST, BOOKED":1}
df8.resolution=[a_b[items] for items in df8.resolution]

C:\Users\nikhil\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [58]:
rstt=df8['resolution']

In [59]:
rstt.head()

2    1
4    0
5    0
6    1
8    1
Name: resolution, dtype: int64

In [60]:
df9=df7

In [61]:
df9.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour,res_arrest
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,1,April,25,Monday,12-15,"ARREST, BOOKED"
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,0,Jan,1,Friday,0-3,NONE
5,ASSAULT,2016-01-01 21:35:00,NORTHERN,0,Jan,1,Friday,20-23,NONE
6,OTHER OFFENSES,2016-01-02 00:04:00,SOUTHERN,1,Jan,2,Saturday,0-3,"ARREST, BOOKED"
8,WARRANTS,2016-01-02 12:21:00,SOUTHERN,1,Jan,2,Saturday,12-15,"ARREST, BOOKED"

In [62]:
a_bb={0:1 ,1:0}
df9.resolution=[a_bb[items] for items in df9.resolution]

In [63]:
df9.head()

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour,res_arrest
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,0,April,25,Monday,12-15,"ARREST, BOOKED"
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,1,Jan,1,Friday,0-3,NONE
5,ASSAULT,2016-01-01 21:35:00,NORTHERN,1,Jan,1,Friday,20-23,NONE
6,OTHER OFFENSES,2016-01-02 00:04:00,SOUTHERN,0,Jan,2,Saturday,0-3,"ARREST, BOOKED"
8,WARRANTS,2016-01-02 12:21:00,SOUTHERN,0,Jan,2,Saturday,12-15,"ARREST, BOOKED"

In [64]:
no_arst=df9['resolution']

In [65]:
no_arst.head()

2    0
4    1
5    1
6    0
8    0
Name: resolution, dtype: int64

# Merging Binary

In [66]:
df_j_1 = pd.merge(ctg, dfw, right_index=True, left_index=True)

In [67]:
df_j_3 = pd.merge(df_j_1, dd, right_index=True, left_index=True)

In [68]:
df_j_nrst=pd.merge(df_j_3, no_arst, right_index=True, left_index=True)

In [69]:
df_j_n_rst = pd.merge(df_j_nrst, hrr, right_index=True, left_index=True)

In [70]:
df_j_n_rst_wo_mnth = df_j_n_rst

In [71]:
df_j_n_rst_wo_mnth_smtime = df_j_n_rst_wo_mnth.drop(['16-19'

],axis=1)

In [72]:
df_j_n_rst_wo_mnth.head()

,ASSAULT,BURGLARY,LARCENY/THEFT,NON-CRIMINAL,OTHER OFFENSES,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS,Friday,...,MISSION,NORTHERN,SOUTHERN,TARAVAL,resolution,0-3,12-15,16-19,20-23,8-11
2,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,1,0,1,0,0,0
5,0,0,1,0,0,0,0,0,0,1,...,0,0,0,1,1,0,0,0,1,0
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [55]:
# pip install kmodes ( need to install for kmodes)

Requirement already satisfied: kmodes in c:\users\nikhil\anaconda3\lib\site-packages (0.10.1)
Requirement already satisfied: numpy>=1.10.4 in c:\users\nikhil\anaconda3\lib\site-packages (from kmodes) (1.16.2)
Requirement already satisfied: scipy>=0.13.3 in c:\users\nikhil\anaconda3\lib\site-packages (from kmodes) (1.2.1)
Requirement already satisfied: joblib>=0.11 in c:\users\nikhil\anaconda3\lib\site-packages (from kmodes) (0.14.1)
Requirement already satisfied: scikit-learn>=0.19.0 in c:\users\nikhil\anaconda3\lib\site-packages (from kmodes) (0.20.3)
Note: you may need to restart the kernel to use updated packages.

In [73]:
from kmodes.kmodes import KModes

# 1st Model give us actionable insight, it have variable.

 ### 1. Hour (12-15.59, 16-19.59 etc)
 ### 2. Not arrested
 ### 3. Day of week(Sunday, Monady,Tuesday etc.)
 ### 4. Category (Theft)
 ### 5. Department district(Area like Mission, Central, Bayview etc).

In [66]:
print("without month\n\n\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth.columns[np.nonzero(cent)]:
            print(j)
            
            
            
            
            
#   res_arrest means no arest in output           
            
print("without month, res_arrest means no arest in output \n\n\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth_smtime)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth_smtime.columns[np.nonzero(cent)]:
            print(j)
            
            
            
# res_arrest means no arest in output

without month



Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 16068, cost: 126780.0
Run 1, iteration: 2/100, moves: 2363, cost: 126780.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 18435, cost: 129089.0
Run 2, iteration: 2/100, moves: 69, cost: 129089.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 18465, cost: 122540.0
Run 3, iteration: 2/100, moves: 634, cost: 122540.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 17888, cost: 123176.0
Run 4, iteration: 2/100, moves: 5046, cost: 123176.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 18863, cost: 125181.0
Run 5, iteration: 2/100, moves: 1942, cost: 125181.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 15386, cost: 124438.0
Run 6, iteration: 2/100, moves: 1657, cost: 124438.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 19619, cost: 122338.0
Run 7, iteration: 2/100, moves: 1737, cost: 122338.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 18732, cost: 124220.0
Run 8, iteration: 2/100, moves: 4669, cost: 123520.0
Run 8, iteration: 3/100, moves: 506, cost: 123520.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 17968, cost: 127550.0
Run 9, iteration: 2/100, moves: 2482, cost: 125007.0
Run 9, iteration: 3/100, moves: 2385, cost: 125007.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 14930, cost: 129499.0
Run 10, iteration: 2/100, moves: 2139, cost: 129499.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 15338, cost: 126288.0
Run 11, iteration: 2/100, moves: 3543, cost: 126035.0
Run 11, iteration: 3/100, moves: 67, cost: 126035.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 17378, cost: 123761.0
Run 12, iteration: 2/100, moves: 1699, cost: 123761.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 17892, cost: 117564.0
Run 13, iteration: 2/100, moves: 2389, cost: 117564.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 20228, cost: 124373.0
Run 14, iteration: 2/100, moves: 1000, cost: 124373.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 18746, cost: 135517.0
Run 15, iteration: 2/100, moves: 1666, cost: 135517.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 14896, cost: 131221.0
Run 16, iteration: 2/100, moves: 4265, cost: 130129.0
Run 16, iteration: 3/100, moves: 276, cost: 130129.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 18159, cost: 125755.0
Run 17, iteration: 2/100, moves: 3959, cost: 125206.0
Run 17, iteration: 3/100, moves: 1390, cost: 124791.0
Run 17, iteration: 4/100, moves: 2418, cost: 121634.0
Run 17, iteration: 5/100, moves: 1902, cost: 121634.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 17924, cost: 125533.0
Run 18, iteration: 2/100, moves: 2081, cost: 124467.0
Run 18, iteration: 3/100, moves: 3218, cost: 122732.0
Run 18, iteration: 4/100, moves: 634, cost: 122732.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 19408, cost: 127909.0
Run 19, iteration: 2/100, moves: 1351, cost: 127909.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 20, iteration: 1/100, moves: 17812, cost: 121965.0
Run 20, iteration: 2/100, moves: 2098, cost: 121965.0
Best run was number 13

cluster 0:
res_arrest
16-19

cluster 1:
res_arrest
8-11

cluster 2:
SOUTHERN
res_arrest
16-19

cluster 3:
res_arrest
12-15

cluster 4:
LARCENY/THEFT
Sunday
CENTRAL
res_arrest
12-15

cluster 5:
LARCENY/THEFT
SOUTHERN
12-15

cluster 6:
res_arrest
20-23

cluster 7:
20-23

cluster 8:
LARCENY/THEFT
NORTHERN
16-19

cluster 9:
Thursday
res_arrest
12-15
without month



Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 17800, cost: 122792.0
Run 1, iteration: 2/100, moves: 2754, cost: 121316.0
Run 1, iteration: 3/100, moves: 455, cost: 121316.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 12186, cost: 116203.0
Run 2, iteration: 2/100, moves: 0, cost: 116203.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 16206, cost: 123040.0
Run 3, iteration: 2/100, moves: 2278, cost: 123040.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 16575, cost: 120154.0
Run 4, iteration: 2/100, moves: 3737, cost: 119181.0
Run 4, iteration: 3/100, moves: 205, cost: 119181.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 16496, cost: 121731.0
Run 5, iteration: 2/100, moves: 904, cost: 121731.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 13809, cost: 121200.0
Run 6, iteration: 2/100, moves: 0, cost: 121200.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 21018, cost: 115883.0
Run 7, iteration: 2/100, moves: 1879, cost: 115883.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 13339, cost: 119773.0
Run 8, iteration: 2/100, moves: 1813, cost: 119773.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 18675, cost: 119847.0
Run 9, iteration: 2/100, moves: 4098, cost: 118210.0
Run 9, iteration: 3/100, moves: 1148, cost: 118210.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 19423, cost: 119053.0
Run 10, iteration: 2/100, moves: 5035, cost: 118185.0
Run 10, iteration: 3/100, moves: 1293, cost: 118185.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 18136, cost: 118316.0
Run 11, iteration: 2/100, moves: 4590, cost: 117758.0
Run 11, iteration: 3/100, moves: 715, cost: 117758.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 12675, cost: 124993.0
Run 12, iteration: 2/100, moves: 768, cost: 124993.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 15653, cost: 120762.0
Run 13, iteration: 2/100, moves: 3330, cost: 120762.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 21206, cost: 120772.0
Run 14, iteration: 2/100, moves: 1217, cost: 120772.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 15942, cost: 115599.0
Run 15, iteration: 2/100, moves: 1760, cost: 115599.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 17876, cost: 119653.0
Run 16, iteration: 2/100, moves: 1947, cost: 119653.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 19450, cost: 120122.0
Run 17, iteration: 2/100, moves: 2098, cost: 120122.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 15164, cost: 122245.0

Run 18, iteration: 2/100, moves: 0, cost: 122245.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 14393, cost: 122212.0
Run 19, iteration: 2/100, moves: 0, cost: 122212.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 20, iteration: 1/100, moves: 19841, cost: 119402.0
Run 20, iteration: 2/100, moves: 614, cost: 119402.0
Best run was number 15

cluster 0:
OTHER OFFENSES
res_arrest
12-15

cluster 1:
VANDALISM
res_arrest

cluster 2:
MISSION

cluster 3:
LARCENY/THEFT
CENTRAL
res_arrest

cluster 4:
20-23

cluster 5:
Saturday
res_arrest

cluster 6:
LARCENY/THEFT
SOUTHERN
res_arrest

cluster 7:
NON-CRIMINAL
Friday
res_arrest

cluster 8:
LARCENY/THEFT
NORTHERN
res_arrest

cluster 9:
Wednesday
res_arrest

# Findings


## 1. from cluster cluster 4: CENTRAL, Sunday, LARCENY/THEFT,  res_arrest, 12-15.
###    In region CENTRAL on SUNDAY their is a high chance of  LARCENY/THEFT between Time 12-15 in which their is No Arrest was happened.

##  


## 2. from cluster cluster 5: SOUTHERN, res_arrest, 16-19.   
###    In region SOUTHERN between Time 16-19 in which their is No Arrest was happened for the criminal offences.

###   

## 3. from cluster cluster 8: LARCENY/THEFT, NORTHERN, 16-19. 
###    In region NORTHERN between Time 16-19  there is high chances of LARCENY/THEFT.


##  


## 4. from cluster cluster 9: Thursday, res_arrest, 12-15.
###   On Thursday between time 12-15 the crime offences have No Arrest factor was large.
###  

## 5. from other clusters no concrete conclusion can be derived.

##   
# Summary:- 
# 1. Time between 12-15(i.e12.00-15.59) is critical time from crime perspective.
##          a) On Thursday as their is high chance of No Arrest(Criminal escape).
##          b) On Sunday at Central Region for Larceny/Theft crime, Criminal did not Abducted/Areested.

##    
# 2. Time between 16-19(i.e16.00-19.59) is critical time from crime perspective. 
##           a) Crime happened on southern region has less Arrest factor.
##           b) Larceny/Theft crime factor was large in  Northen region.