In [57]:
import time
import random
from math import *
import operator
import pandas as pd
import numpy as np
import datetime 
import calendar
from sklearn.preprocessing import LabelBinarizer

In [2]:
# Importing File

location = r"file:///C:\Users\nikhil\Downloads\police_department_data%20(1).csv"

In [3]:
crime_raw=pd.read_csv(location)

In [4]:
# Checking Imported File

crime_raw.head(3)

,incident_id,category,crime_description,crime_date,department_district,resolution,address,department_id,location
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,12005827212120,"(37.775420706711, -122.403404791479)"
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,12005827212168,"(37.775420706711, -122.403404791479)"
2,141059263,WARRANTS,WARRANT ARREST,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,14105926363010,"(37.7299809672996, -122.388856204292)"

In [5]:
# Droping column Not Necessary for study

selected_variable=crime_raw.drop(['incident_id','crime_description','address','department_id','location'

],axis=1)

In [6]:
selected_variable.head(3)

      category           crime_date department_district      resolution
0  WEAPON LAWS  2016-01-29 11:00:00            SOUTHERN  ARREST, BOOKED
1  WEAPON LAWS  2016-01-29 11:00:00            SOUTHERN  ARREST, BOOKED
2     WARRANTS  2016-04-25 14:59:00             BAYVIEW  ARREST, BOOKED

In [7]:
data_mnth=selected_variable

In [8]:
# Getting Month from crime date

data_mnth['month'] = pd.DatetimeIndex(data_mnth['crime_date']).month

In [9]:
month1={1:"Jan" ,2:"Feb" ,3:"Mar" ,4:"April" ,5:"May" ,6:"June" ,7:"July" ,8:"Aug" ,9:"Sep"
       ,10:"Oct" ,11:"Nov" ,12:"Dec"}

In [10]:
data_mnth['month']=[month1[items] for items in data_mnth['month']]

In [11]:
data_mnth['month'].head(3)

0      Jan
1      Jan
2    April
Name: month, dtype: object

In [12]:
data_day_mth=data_mnth

In [13]:
data_day_mth['Day'] = pd.DatetimeIndex(data_day_mth['crime_date']).day

In [14]:
data_day_mth['crime_date'] = pd.to_datetime(data_day_mth['crime_date'])

In [15]:
# Getting day of week(sun, mon, tue)

data_day_mth['day_of_week'] = data_day_mth['crime_date'].dt.day_name()

In [16]:
data_day_mth.day_of_week.unique()

array(['Friday', 'Monday', 'Tuesday', 'Saturday', 'Thursday', 'Sunday',
       'Wednesday'], dtype=object)

In [17]:
(data_day_mth['day_of_week'].value_counts()/data_day_mth['day_of_week'].count())*100

Friday       15.528904
Saturday     14.732226
Thursday     14.215947
Wednesday    14.174086
Tuesday      14.114286
Monday       13.809302
Sunday       13.425249
Name: day_of_week, dtype: float64

In [18]:
# Getting hour of day (1, 2, 3)
data_day_mth_hr=data_day_mth

data_day_mth_hr['hour'] = data_day_mth_hr['crime_date'].dt.hour

In [19]:
data_day_mth_hr.hour.unique()

array([11, 14, 23,  0, 21,  1, 12, 10, 22, 13,  7, 16, 17,  4,  6,  9, 15,
       19, 20,  5,  2,  8, 18,  3], dtype=int64)

In [20]:
(data_day_mth_hr['hour'].value_counts()/data_day_mth_hr['hour'].count())*100

18    6.457143
17    6.351495
12    5.994020
19    5.967442
16    5.751495
15    5.534219
20    5.380731
14    5.063787
21    4.970100
13    4.829236
22    4.716944
0     4.611960
11    4.508970
23    4.367442
10    4.307641
9     3.897010
8     3.704319
1     2.896346
7     2.587375
2     2.321595
3     1.696346
6     1.673090
4     1.252492
5     1.158804
Name: hour, dtype: float64

In [21]:
data_day_mth_hrl=data_day_mth_hr.drop(data_day_mth_hr[data_day_mth_hr.hour.isin(["9","8","1","2","7","3","6","4","5"
])].index)

In [22]:
data_day_mth_hr.head(3)

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
0,WEAPON LAWS,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",Jan,29,Friday,11
1,WEAPON LAWS,2016-01-29 11:00:00,SOUTHERN,"ARREST, BOOKED",Jan,29,Friday,11
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,14

### Droping less frequency variable from category variable

In [23]:
(data_day_mth_hr['category'].value_counts()/data_day_mth_hr['category'].count())*100

LARCENY/THEFT                  26.849834
OTHER OFFENSES                 13.022591
NON-CRIMINAL                   11.871096
ASSAULT                         9.021262
VANDALISM                       5.706977
VEHICLE THEFT                   4.265116
WARRANTS                        3.929568
BURGLARY                        3.855150
SUSPICIOUS OCC                  3.841860
MISSING PERSON                  2.882392
DRUG/NARCOTIC                   2.819269
ROBBERY                         2.192027
FRAUD                           1.750831
SECONDARY CODES                 1.223256
TRESPASS                        1.203987
WEAPON LAWS                     1.101661
SEX OFFENSES, FORCIBLE          0.624585
STOLEN PROPERTY                 0.586047
RECOVERED VEHICLE               0.489037
DISORDERLY CONDUCT              0.437209
PROSTITUTION                    0.425914
FORGERY/COUNTERFEITING          0.411296
DRUNKENNESS                     0.308970
DRIVING UNDER THE INFLUENCE     0.251163
ARSON                           0.190033
KIDNAPPING                      0.170764
EMBEZZLEMENT                    0.111628
LIQUOR LAWS                     0.103654
RUNAWAY                         0.093023
SUICIDE                         0.045847
BRIBERY                         0.043854
EXTORTION                       0.039867
FAMILY OFFENSES                 0.035216
LOITERING                       0.027907
SEX OFFENSES, NON FORCIBLE      0.026578
BAD CHECKS                      0.022591
GAMBLING                        0.013289
PORNOGRAPHY/OBSCENE MAT         0.002658
TREA                            0.001993
Name: category, dtype: float64

In [24]:
dt_aft_drp_row=data_day_mth_hr

In [25]:
aft_drp_rw_ctg=dt_aft_drp_row.drop(dt_aft_drp_row[dt_aft_drp_row.category.isin(["SEX OFFENSES, FORCIBLE","STOLEN PROPERTY","RECOVERED VEHICLE","DISORDERLY CONDUCT",
                                    "PROSTITUTION","FORGERY/COUNTERFEITING","DRUNKENNESS","DRIVING UNDER THE INFLUENCE","ARSON","KIDNAPPING","EMBEZZLEMENT",
          "LIQUOR LAWS","RUNAWAY","SUICIDE","BRIBERY","EXTORTION","FAMILY OFFENSE","LOITERING","SEX OFFENSES, NON FORCIBLE",
          "BAD CHECKS","GAMBLING","PORNOGRAPHY/OBSCENE MAT","TREA","MISSING PERSON","DRUG/NARCOTIC","ROBBERY","FRAUD",
        "SECONDARY CODES","TRESPASS","FAMILY OFFENSES","WEAPON LAWS"
                                   ])].index)

In [26]:
(aft_drp_rw_ctg['category'].value_counts()/aft_drp_rw_ctg['category'].count())*100

LARCENY/THEFT     32.599208
OTHER OFFENSES    15.811128
NON-CRIMINAL      14.413063
ASSAULT           10.952992
VANDALISM          6.929016
VEHICLE THEFT      5.178409
WARRANTS           4.771009
BURGLARY           4.680655
SUSPICIOUS OCC     4.664521
Name: category, dtype: float64

### Droping less frequency variable from resolution variable

In [27]:
(aft_drp_rw_ctg['resolution'].value_counts()/aft_drp_rw_ctg['resolution'].count())*100

NONE                                      75.068774
ARREST, BOOKED                            23.086232
UNFOUNDED                                  0.990666
JUVENILE BOOKED                            0.497753
EXCEPTIONAL CLEARANCE                      0.211364
ARREST, CITED                              0.103262
CLEARED-CONTACT JUVENILE FOR MORE INFO     0.015328
PSYCHOPATHIC CASE                          0.011294
NOT PROSECUTED                             0.008874
JUVENILE CITED                             0.002420
COMPLAINANT REFUSES TO PROSECUTE           0.001613
LOCATED                                    0.001613
PROSECUTED BY OUTSIDE AGENCY               0.000807
Name: resolution, dtype: float64

In [28]:
aft_drp_rw_ctg_resn=aft_drp_rw_ctg.drop(aft_drp_rw_ctg[aft_drp_rw_ctg.resolution.isin(["CLEARED-CONTACT JUVENILE FOR MORE INFO","NOT PROSECUTED","LOCATED",
                                      "PSYCHOPATHIC CASE","JUVENILE CITED","COMPLAINANT REFUSES TO PROSECUTE",
                                      "JUVENILE DIVERTED","PROSECUTED BY OUTSIDE AGENCY","UNFOUNDED","JUVENILE BOOKED",
                                      "EXCEPTIONAL CLEARANCE","ARREST, CITED","CLEARED-CONTACT JUVENILE FOR MORE INFO",
                                    "NOT PROSECUTED","LOCATED","PSYCHOPATHIC CASE","JUVENILE CITED",
                                      "COMPLAINANT REFUSES TO PROSECUTE","JUVENILE DIVERTED","PROSECUTED BY OUTSIDE AGENCY"
])].index)

In [29]:
(aft_drp_rw_ctg_resn['resolution'].value_counts()/aft_drp_rw_ctg_resn['resolution'].count())*100

NONE              76.479822
ARREST, BOOKED    23.520178
Name: resolution, dtype: float64

### Droping less frequency variable from Department District variable

In [30]:
(aft_drp_rw_ctg_resn['department_district'].value_counts()/aft_drp_rw_ctg_resn['department_district'].count())*100

SOUTHERN      18.948952
NORTHERN      13.816995
MISSION       12.524143
CENTRAL       12.400036
BAYVIEW        9.347492
INGLESIDE      7.553280
TARAVAL        7.458761
RICHMOND       6.243990
TENDERLOIN     6.056596
PARK           5.649755
Name: department_district, dtype: float64

In [31]:
aft_drp_rw_ctg_resn_dd=aft_drp_rw_ctg_resn.drop(aft_drp_rw_ctg_resn[aft_drp_rw_ctg_resn.department_district.isin(["TENDERLOIN",'RICHMOND', 'PARK'
])].index)

In [32]:
(aft_drp_rw_ctg_resn_dd['department_district'].value_counts()/aft_drp_rw_ctg_resn_dd['department_district'].count())*100

SOUTHERN     23.094492
NORTHERN     16.839796
MISSION      15.264102
CENTRAL      15.112843
BAYVIEW      11.392481
INGLESIDE     9.205742
TARAVAL       9.090545
Name: department_district, dtype: float64

### Droping NA values

In [33]:
aft_drp_rw_ctg_resn=aft_drp_rw_ctg_resn.dropna()

In [34]:
aft_drp_rw_ctg_resn.head(3)

,category,crime_date,department_district,resolution,month,Day,day_of_week,hour
2,WARRANTS,2016-04-25 14:59:00,BAYVIEW,"ARREST, BOOKED",April,25,Monday,14
3,NON-CRIMINAL,2016-01-05 23:50:00,TENDERLOIN,NONE,Jan,5,Tuesday,23
4,NON-CRIMINAL,2016-01-01 00:30:00,MISSION,NONE,Jan,1,Friday,0

# Variable conversion to binary

In [35]:
# For day_of_week
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(aft_drp_rw_ctg_resn["day_of_week"])
dfw=pd.DataFrame(lb_results, columns=lb_style.classes_)

# For category
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(aft_drp_rw_ctg_resn["category"])
ctg=pd.DataFrame(lb_results, columns=lb_style.classes_)

# For month
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(aft_drp_rw_ctg_resn["month"])
mth=pd.DataFrame(lb_results, columns=lb_style.classes_)

# For department_district
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(aft_drp_rw_ctg_resn["department_district"])
ddd=pd.DataFrame(lb_results, columns=lb_style.classes_)

In [36]:
# For hour
hr_gp={0:'0-3' ,1:'0-3' ,2:'0-3' ,3:'0-3' ,4:'4-7' ,5:'4-7' ,6:'4-7' ,7:'4-7' ,8:'8-11' ,9:'8-11' ,
10:'8-11' ,11:'8-11' ,12:'12-15' ,13:'12-15',14:'12-15',15:'12-15',16:'16-19',17:'16-19',18:'16-19',
      19:'16-19',20:'20-23',21:'20-23',22:'20-23',23:'20-23'}

aft_drp_rw_ctg_resn.hour=[hr_gp[items] for items in aft_drp_rw_ctg_resn.hour]
lb_style = LabelBinarizer()
lb_results = lb_style.fit_transform(aft_drp_rw_ctg_resn["hour"])
hrr=pd.DataFrame(lb_results, columns=lb_style.classes_)

In [37]:
# for arrest factor, if arrested

df8=aft_drp_rw_ctg_resn
a_b={"NONE":0 ,"ARREST, BOOKED":1}
df8.resolution=[a_b[items] for items in df8.resolution]
rstt=df8['resolution']

In [38]:
# for arrest factor, if not arrested

df9=aft_drp_rw_ctg_resn
a_bb={0:1 ,1:0}
df9.resolution=[a_bb[items] for items in df9.resolution]
no_arst=df9['resolution']

In [39]:
# Binary for Day of week
dfw.head(3)

   Friday  Monday  Saturday  Sunday  Thursday  Tuesday  Wednesday
0       0       1         0       0         0        0          0
1       0       0         0       0         0        1          0
2       1       0         0       0         0        0          0

In [40]:
# Binary for category
ctg.head(3)

,ASSAULT,BURGLARY,LARCENY/THEFT,NON-CRIMINAL,OTHER OFFENSES,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS
0,0,0,0,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0
2,0,0,0,1,0,0,0,0,0

In [41]:
# Binary for month
mth.head(3)

   April  Aug  Dec  Feb  Jan  July  June  Mar  May  Nov  Oct  Sep
0      1    0    0    0    0     0     0    0    0    0    0    0
1      0    0    0    0    1     0     0    0    0    0    0    0
2      0    0    0    0    1     0     0    0    0    0    0    0

In [43]:
# Binary for Department District
ddd.head(3)

,BAYVIEW,CENTRAL,INGLESIDE,MISSION,NORTHERN,PARK,RICHMOND,SOUTHERN,TARAVAL,TENDERLOIN
0,1,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,0,0,0,0,0

In [ ]:
# Binary for hour
hrr.head(3)

In [ ]:
# Binary for arrested
rstt.head(3)

In [ ]:
# Binary for not arrested
no_arst.head(3)

# Merging Binary

In [44]:
c1 = pd.merge(ctg, dfw, right_index=True, left_index=True)
c2 = pd.merge(c1, ddd, right_index=True, left_index=True)
c3=pd.merge(c2, no_arst, right_index=True, left_index=True)
c4 = pd.merge(c3, hrr, right_index=True, left_index=True)

In [45]:
df_j_n_rst_wo_mnth=c4

In [46]:
# pip install kmodes ( need to install for kmodes)

In [47]:
from kmodes.kmodes import KModes

In [48]:
c4.head(3)

,ASSAULT,BURGLARY,LARCENY/THEFT,NON-CRIMINAL,OTHER OFFENSES,SUSPICIOUS OCC,VANDALISM,VEHICLE THEFT,WARRANTS,Friday,...,SOUTHERN,TARAVAL,TENDERLOIN,resolution,0-3,12-15,16-19,20-23,4-7,8-11
2,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,0

# 1st Model give us actionable insight, it have variable.

 ### 1. Hour (12-15.59, 16-19.59 etc)
 ### 2. Not arrested
 ### 3. Day of week(Sunday, Monady,Tuesday etc.)
 ### 4. Category (Theft)
 ### 5. Department district(Area like Mission, Central, Bayview etc).

In [48]:
print("Model have variable, 1. Hour (12-15.59, 16-19.59 etc), 2. Not arrested, 3. Day of week(Sunday, Monady,Tuesday etc.), 4. Category (Theft), 5. Department district(Area like Mission, Central, Bayview etc).\n\n\n")

print("1st run\n\n\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth.columns[np.nonzero(cent)]:
            print(j)
            
            
print("2nd run\n\n\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth.columns[np.nonzero(cent)]:
            print(j)

Model have variable, 1. Hour (12-15.59, 16-19.59 etc), 2. Not arrested, 3. Day of week(Sunday, Monady,Tuesday etc.), 4. Category (Theft), 5. Department district(Area like Mission, Central, Bayview etc).



1st run



Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 19457, cost: 130283.0
Run 1, iteration: 2/100, moves: 1310, cost: 130283.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 16582, cost: 131318.0
Run 2, iteration: 2/100, moves: 967, cost: 131318.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 12934, cost: 127362.0
Run 3, iteration: 2/100, moves: 0, cost: 127362.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 17342, cost: 133894.0
Run 4, iteration: 2/100, moves: 878, cost: 133894.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 13724, cost: 128626.0
Run 5, iteration: 2/100, moves: 3059, cost: 127736.0
Run 5, iteration: 3/100, moves: 178, cost: 127736.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 19593, cost: 130125.0
Run 6, iteration: 2/100, moves: 4276, cost: 129576.0
Run 6, iteration: 3/100, moves: 83, cost: 129576.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 16687, cost: 127450.0
Run 7, iteration: 2/100, moves: 1546, cost: 127450.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 16106, cost: 128789.0
Run 8, iteration: 2/100, moves: 470, cost: 128789.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 18557, cost: 125785.0
Run 9, iteration: 2/100, moves: 968, cost: 125785.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 20559, cost: 122430.0
Run 10, iteration: 2/100, moves: 4074, cost: 122430.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 18383, cost: 123556.0
Run 11, iteration: 2/100, moves: 2146, cost: 123556.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 16990, cost: 124701.0
Run 12, iteration: 2/100, moves: 2376, cost: 124701.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 14615, cost: 125765.0
Run 13, iteration: 2/100, moves: 534, cost: 125765.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 17919, cost: 118589.0
Run 14, iteration: 2/100, moves: 3363, cost: 116850.0
Run 14, iteration: 3/100, moves: 347, cost: 116850.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 18409, cost: 131311.0
Run 15, iteration: 2/100, moves: 817, cost: 131311.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 17609, cost: 127827.0
Run 16, iteration: 2/100, moves: 2080, cost: 127827.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 15444, cost: 131584.0
Run 17, iteration: 2/100, moves: 27, cost: 131584.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 22688, cost: 131029.0
Run 18, iteration: 2/100, moves: 1946, cost: 130698.0
Run 18, iteration: 3/100, moves: 588, cost: 130698.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 17144, cost: 124368.0
Run 19, iteration: 2/100, moves: 3624, cost: 124368.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 20, iteration: 1/100, moves: 19151, cost: 128454.0
Run 20, iteration: 2/100, moves: 3151, cost: 127657.0
Run 20, iteration: 3/100, moves: 186, cost: 127657.0
Best run was number 14

cluster 0:
resolution
16-19

cluster 1:
LARCENY/THEFT
SOUTHERN
20-23

cluster 2:
resolution
12-15

cluster 3:
LARCENY/THEFT
resolution
16-19

cluster 4:
resolution
8-11

cluster 5:
OTHER OFFENSES
resolution
20-23

cluster 6:
resolution
20-23

cluster 7:
LARCENY/THEFT
resolution
12-15

cluster 8:
LARCENY/THEFT
Thursday
resolution
16-19

cluster 9:
NON-CRIMINAL
resolution
12-15
2nd run



Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 16779, cost: 125427.0
Run 1, iteration: 2/100, moves: 0, cost: 125427.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 16568, cost: 129678.0
Run 2, iteration: 2/100, moves: 689, cost: 129678.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 16479, cost: 130705.0
Run 3, iteration: 2/100, moves: 3752, cost: 129768.0
Run 3, iteration: 3/100, moves: 645, cost: 129768.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 18922, cost: 125459.0
Run 4, iteration: 2/100, moves: 1353, cost: 125459.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 18795, cost: 120919.0
Run 5, iteration: 2/100, moves: 2728, cost: 120919.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 16890, cost: 125836.0
Run 6, iteration: 2/100, moves: 468, cost: 125836.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 17102, cost: 124905.0
Run 7, iteration: 2/100, moves: 454, cost: 124905.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 17811, cost: 127043.0
Run 8, iteration: 2/100, moves: 1733, cost: 125703.0
Run 8, iteration: 3/100, moves: 1991, cost: 125703.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 18536, cost: 128012.0
Run 9, iteration: 2/100, moves: 688, cost: 128012.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 16552, cost: 126070.0
Run 10, iteration: 2/100, moves: 692, cost: 126070.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 19491, cost: 121550.0
Run 11, iteration: 2/100, moves: 472, cost: 121550.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 18307, cost: 129490.0
Run 12, iteration: 2/100, moves: 1822, cost: 129490.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 15766, cost: 130601.0
Run 13, iteration: 2/100, moves: 1246, cost: 130528.0
Run 13, iteration: 3/100, moves: 80, cost: 130528.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 19060, cost: 120557.0
Run 14, iteration: 2/100, moves: 3007, cost: 120557.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 18371, cost: 133430.0
Run 15, iteration: 2/100, moves: 3113, cost: 133430.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 21482, cost: 125140.0
Run 16, iteration: 2/100, moves: 1495, cost: 125140.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 16530, cost: 131282.0
Run 17, iteration: 2/100, moves: 0, cost: 131282.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 20148, cost: 119178.0
Run 18, iteration: 2/100, moves: 1541, cost: 119178.0
Init: initializing centroids

Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 17907, cost: 127832.0
Run 19, iteration: 2/100, moves: 1053, cost: 127832.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 20, iteration: 1/100, moves: 16558, cost: 125573.0
Run 20, iteration: 2/100, moves: 3168, cost: 125573.0
Best run was number 18

cluster 0:
no-skills cluster

cluster 1:
LARCENY/THEFT
Friday
12-15

cluster 2:
resolution
12-15

cluster 3:
resolution
16-19

cluster 4:
resolution
8-11

cluster 5:
SOUTHERN
resolution
12-15

cluster 6:
LARCENY/THEFT
Thursday
resolution

cluster 7:
resolution
20-23

cluster 8:
LARCENY/THEFT
resolution
20-23

cluster 9:
LARCENY/THEFT
SOUTHERN
resolution
16-19

In [231]:
print("3rd run\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth.columns[np.nonzero(cent)]:
            print(j)
            
print("\n\n")         
print("4th run\n")

# define the k-modes model
km = KModes(n_clusters=10, init='Huang', n_init=20, verbose=1)
# fit the clusters to the skills dataframe
clusters = km.fit_predict(df_j_n_rst_wo_mnth)
# get an array of cluster modes
kmodes = km.cluster_centroids_
shape = kmodes.shape
# For each cluster mode (a vector of "1" and "0")
# find and print the column headings where "1" appears.
# If no "1" appears, assign to "no-skills" cluster.
for i in range(shape[0]):
    if sum(kmodes[i,:]) == 0:
        print("\ncluster " + str(i) + ": ")
        print("no-skills cluster")
    else:
        print("\ncluster " + str(i) + ": ")
        cent = kmodes[i,:]
        for j in df_j_n_rst_wo_mnth.columns[np.nonzero(cent)]:
            print(j)

3rd run

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 44154, cost: 325189.0
Run 1, iteration: 2/100, moves: 1817, cost: 325189.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 54379, cost: 337744.0
Run 2, iteration: 2/100, moves: 16683, cost: 337744.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 50762, cost: 321887.0
Run 3, iteration: 2/100, moves: 10435, cost: 313567.0
Run 3, iteration: 3/100, moves: 7085, cost: 308789.0
Run 3, iteration: 4/100, moves: 2756, cost: 308789.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 48325, cost: 315989.0
Run 4, iteration: 2/100, moves: 3956, cost: 315174.0
Run 4, iteration: 3/100, moves: 281, cost: 315174.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 42202, cost: 309500.0
Run 5, iteration: 2/100, moves: 6217, cost: 309500.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 39972, cost: 328496.0
Run 6, iteration: 2/100, moves: 0, cost: 328496.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 49164, cost: 318878.0
Run 7, iteration: 2/100, moves: 15723, cost: 317362.0
Run 7, iteration: 3/100, moves: 6565, cost: 317362.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 53104, cost: 307983.0
Run 8, iteration: 2/100, moves: 7192, cost: 307983.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 47512, cost: 314261.0
Run 9, iteration: 2/100, moves: 8151, cost: 306785.0
Run 9, iteration: 3/100, moves: 1590, cost: 306785.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 48057, cost: 322899.0
Run 10, iteration: 2/100, moves: 4155, cost: 322899.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 46025, cost: 329832.0
Run 11, iteration: 2/100, moves: 0, cost: 329832.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 51463, cost: 328790.0
Run 12, iteration: 2/100, moves: 0, cost: 328790.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 48110, cost: 318593.0
Run 13, iteration: 2/100, moves: 1493, cost: 318593.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 51327, cost: 328351.0
Run 14, iteration: 2/100, moves: 6538, cost: 324539.0
Run 14, iteration: 3/100, moves: 1451, cost: 324539.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 52705, cost: 316000.0
Run 15, iteration: 2/100, moves: 1044, cost: 316000.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 39674, cost: 320383.0
Run 16, iteration: 2/100, moves: 3465, cost: 320383.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 49393, cost: 321071.0
Run 17, iteration: 2/100, moves: 8601, cost: 316879.0
Run 17, iteration: 3/100, moves: 1111, cost: 316879.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 51234, cost: 329672.0
Run 18, iteration: 2/100, moves: 7634, cost: 329672.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 42935, cost: 328551.0
Run 19, iteration: 2/100, moves: 2177, cost: 328551.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 20, iteration: 1/100, moves: 50974, cost: 325187.0
Run 20, iteration: 2/100, moves: 1644, cost: 325187.0
Best run was number 9

cluster 0:
resolution
16-19

cluster 1:
resolution
12-15

cluster 2:
resolution
20-23

cluster 3:
Sunday
resolution
0-3

cluster 4:
Tuesday
resolution

cluster 5:
resolution
8-11

cluster 6:
LARCENY/THEFT
Sunday
SOUTHERN
resolution
8-11

cluster 7:
resolution
0-3

cluster 8:
resolution
4-7

cluster 9:
OTHER OFFENSES
Thursday
resolution



4th run

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 55737, cost: 322223.0
Run 1, iteration: 2/100, moves: 5980, cost: 322223.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 44147, cost: 325550.0
Run 2, iteration: 2/100, moves: 319, cost: 325550.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 42967, cost: 317907.0
Run 3, iteration: 2/100, moves: 2209, cost: 317907.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 42724, cost: 327634.0
Run 4, iteration: 2/100, moves: 0, cost: 327634.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 56314, cost: 325926.0
Run 5, iteration: 2/100, moves: 315, cost: 325926.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 6, iteration: 1/100, moves: 42032, cost: 321982.0
Run 6, iteration: 2/100, moves: 6460, cost: 321982.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 7, iteration: 1/100, moves: 36688, cost: 322442.0
Run 7, iteration: 2/100, moves: 0, cost: 322442.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 8, iteration: 1/100, moves: 44343, cost: 325828.0
Run 8, iteration: 2/100, moves: 10379, cost: 324293.0
Run 8, iteration: 3/100, moves: 4842, cost: 324293.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 9, iteration: 1/100, moves: 47911, cost: 313972.0
Run 9, iteration: 2/100, moves: 7201, cost: 313972.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 10, iteration: 1/100, moves: 50479, cost: 303035.0
Run 10, iteration: 2/100, moves: 8823, cost: 303035.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 11, iteration: 1/100, moves: 53575, cost: 328021.0
Run 11, iteration: 2/100, moves: 1088, cost: 328021.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 12, iteration: 1/100, moves: 51385, cost: 326846.0
Run 12, iteration: 2/100, moves: 0, cost: 326846.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 13, iteration: 1/100, moves: 41425, cost: 330954.0
Run 13, iteration: 2/100, moves: 8716, cost: 330954.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 14, iteration: 1/100, moves: 44830, cost: 329368.0
Run 14, iteration: 2/100, moves: 2660, cost: 329368.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 15, iteration: 1/100, moves: 46050, cost: 320681.0
Run 15, iteration: 2/100, moves: 0, cost: 320681.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 16, iteration: 1/100, moves: 51830, cost: 323235.0
Run 16, iteration: 2/100, moves: 4305, cost: 323235.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 17, iteration: 1/100, moves: 43706, cost: 321975.0
Run 17, iteration: 2/100, moves: 2378, cost: 321975.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 18, iteration: 1/100, moves: 52935, cost: 322662.0
Run 18, iteration: 2/100, moves: 261, cost: 322662.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 19, iteration: 1/100, moves: 51830, cost: 314931.0
Run 19, iteration: 2/100, moves: 3302, cost: 314931.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...

Run 20, iteration: 1/100, moves: 52400, cost: 337280.0
Run 20, iteration: 2/100, moves: 0, cost: 337280.0
Best run was number 10

cluster 0:
Saturday

cluster 1:
resolution
16-19

cluster 2:
LARCENY/THEFT
resolution
16-19

cluster 3:
resolution
20-23

cluster 4:
LARCENY/THEFT
Tuesday
16-19

cluster 5:
Sunday
resolution
20-23

cluster 6:
ASSAULT
INGLESIDE
resolution

cluster 7:
resolution
0-3

cluster 8:
resolution
12-15

cluster 9:
resolution
8-11

# For result kindly check excle file crime_result